<table class="table table-bordered">
    @if (board is not null)
    {
        @foreach (var row in Rows)
        {
            <tr>
            @foreach (var coor in row)
            {
                var emo = @Coor(coor);
                if (emo is null)
                {
                    <td class="p-0 text-center align-middle"><label class="btn btn-light" @onclick="@(e => Put(coor))">&nbsp;</label></td>
                }
                else
                {
                    <td class ="p-0 text-center align-middle">@emo</td>
                }
            }
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Loading...</td>
        </tr>
    }
</table>
