@if (MyInfo is null)
{
    <div>
        <div class="form-group">
            <input @bind="Name" @bind:event="oninput" />
        </div>
        <div class="form-group">
            <input @bind="EmojiText" @bind:event="oninput" />
        </div>
        <div class="form-group">
            <button class="btn btn-secondary" @onclick="RandomEmoji" disabled="@(!CanRandom)">Random</button>
            <span>@Emoji</span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" @onclick="Register" disabled="@(!CanRegister)">Claim your Emoji</button>
        </div>
    </div>
}
else
{
    <button class="btn btn-primary" @onclick="Leave">Log off @MyInfo.Token.Emoji</button>
}
