<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Emoji</th>
        <th scope="col">Score</th>
    </tr>
    @if (playerList is not null)
    {
        @foreach (var playerInfo in playerList)
        {
            <tr>
                <td>@playerInfo.PlayerInfo.Name</td>
                <td>@playerInfo.PlayerInfo.Token.Emoji</td>
                <td>@playerInfo.Score</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">Loading...</td>
        </tr>
    }
</table>
