<table class="table table-sm bg-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Emoji</th>
        <th scope="col">Score</th>
    </tr>
    @if (playerList is not null)
    {
        @foreach (var playerState in playerList)
        {
            var clas = IsMe(playerState.PlayerInfo) ? "font-weight-bold table-active" : "";
            <tr class="@clas">
                <td>@playerState.PlayerInfo.Name</td>
                <td>@playerState.PlayerInfo.Token.Emoji</td>
                <td>@playerState.Score</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">Loading...</td>
        </tr>
    }
</table>
